.container {
    
    margin-top: 20px;
}

.clickable {

    cursor: pointer
}

.inline-container > * {

    display: inline-block;
    text-align: center;
}

.title {

    margin: 0 15px;
    font-weight: bold;
}

.search {

    width: 50vw;
}

.item.tag {

    height: initial;
    margin: 3px 3px;
    padding: 5px 0.875em;

    white-space: pre-line;
}

.item.notification {

    margin-top: 20px;
    padding: 20px;
}

.item > button {

    margin-top: 3px;
}

.voted {

    font-weight: bold;
}

.keywords-container > h3 {
    
    display: none;
}

.props {

    margin-top: 1.5rem;
}

.props > * {

    margin: 0 5px;
}

.modal-content {

    margin-top: 150px;
}

.box.is-info {

    background: #3273dc;
}